@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


/* Custom Variant */

@custom-variant dark (&:where(.dark, .dark *));

/*Style*/
*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor: none;
}

@theme{
  --color-primary: #5044E5;
}